{
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js"
        ]
      }
    ],
    "eol-last": [
      "error",
      "always"
    ],
    "react/forbid-prop-types": "false"
  }
}